<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/notes.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body class="index-body">
    <%- include("../partials/navbar") %>
    <!-- <h1>Welcome to home page</h1> -->
    <div class="card">
      <form
        action="/categories/<%= category.id %>/notes"
        method="POST"
        class="note-form"
      >
        <input type="text" name="title" required placeholder="New Note" />
        <button type="submit"><i class="fas fa-plus"></i></button>
      </form>

      <div class="todos">
        <% category.todos.forEach(todo => { %>
        <div class="todo">
          <div class="todo-li">
            <li><%= todo.title %></li>
          </div>
          <div class="todo-a">
            <a href="/categories/<%= category.id %>/notes/<%= todo.id %>/edit"
              ><i class="fas fa-edit"></i
            ></a>
          </div>
          <div class="todo-form">
            <form
              action="/categories/<%= category.id %>/notes/<%= todo.id %>?_method=DELETE"
              method="post"
            >
              <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
